body,
html {
  margin: 0;
  width: 100%;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.muteClassroomBackground {
  opacity: 0.5;
  animation-name: fadeout;
  animation-duration: 1s;
  pointer-events: none;
}

@keyframes fadein {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.addStudentPopUp {
  border-radius: 25px;
  background-color: white;
  position: absolute;
  width: 30%;
  left: 35%;
  top: 10%;
  height: 50%;
  animation-name: fadein;
  animation-duration: 1s;
}

.addClassroomPopup {
  border-radius: 25px;
  background-color: white;
  position: absolute;
  width: 30%;
  left: 35%;
  top: 10%;
  height: 30%;
  animation-name: fadein;
  animation-duration: 1s;
}

.hideAddStudent {
  display: none;
}
